@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  margin-bottom: 12px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:16px;
  color: white;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(180deg, rgb(28, 31, 103) 0%, rgb(228, 214, 153) 100%);
  color:white;
}
.home-img {
 border-radius: 100%;
 height: 200px;
 width: auto;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  margin: 12px;
}
.nav-link-text {
  font-size: 0.675rem;
  line-height: 1.25rem;
  font-weight: 550;
  text-align: center;
  font-family: inherit;
  color: #eee !important;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.nav-links {
  color: linear-gradient(60deg, rgb(38, 47, 225) 0%, rgb(183, 150, 5) 100%);
  background-color: rgb(215, 220, 224);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.nav-links:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}